body {
  height: 100%;
}

.box {
  height: 88vh;
}
.myGrid {
  height: 100%;
}

.leftDiv {
  border-top: 2px solid black;
  background-color: rgb(194, 192, 192);
  height: 100%;
  
}
.rightDiv {
  border-top: 2px solid black;
  border-left: 2px solid black;
  background-color: rgb(54, 60, 71);
  height: 100%;
  
}

.topRight {
  height: 100%
}


.workArea {
  font-size: 22px;
  height: 100%;
}

.inputArea {
  display: block;
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color:  rgb(54, 60, 71);
  border-style: none;
  border-color: Transparent; 
  outline: none;
  resize: none;
  color: lightseagreen;
}


.bottomRight {
  border-top: 2px solid black;
  border-left: 1px solid black;
  background-color: rgb(36, 40, 48);
  color: lightgreen;
  height: 100%;
  overflow: auto;
}

.description {
  padding: 30px;
  font-size: 28px;
}

.buttonSection {
  margin-top:40%;
}

.fixedButton {
  width: 80px;
}

.testDiv {
  padding: 8px;
  margin: 7px;
}

.loadingModal {
  margin-top: 15%;
  
}

.loading {
  text-align: center;
  padding: 50px;
}

.successIcon {
  color:rgb(4, 134, 4);
  margin-left: 10px;
}

.errorIcon {
  color: red
}

.testDivError {
  padding: 8px;
  margin: 7px;
  color:red;
}