
.dashboard {
  width: 100%;
  position: absolute;
  height: auto !important;
  min-height: 100%;

}

.myGrid {
  height: inherit;
  width: 100%;
}

.leftDiv {
  border-top: 1px solid grey;
}

.rightDiv {
  border-top: 2px solid gray;
  border-left: 1px solid grey;
  background-color: lightgray;
  height: 100%;
}

.topRight {
  padding: 0;
  height: 100%;
  width: 100%;
}

.editorDiv {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.aceEditor {
  padding: 0;
  height: 100%;
}

.buttonSection {
  position: absolute;
  z-index: 1;
  width: 15%;
  height: 20%;
  top: 50%;
  left: 82%;
}


.bottomRight {
  font-size: 22px;
  background-color: rgb(221, 227, 230);
  min-height: 280px;

}


.description {
  padding: 30px;
  font-size: 28px;
}



.fixedButton {
  width: 80px;
}

.testDiv {
  padding: 8px;
  margin: 7px;
}

.loadingModal {
  margin-top: 15%;
  
}

.loading {
  text-align: center;
  padding: 50px;
}

.successIcon {
  color:rgb(4, 134, 4);
  margin-left: 10px;
}

.errorIcon {
  color: red
}

.testDivError {
  padding: 8px;
  margin: 7px;
  color:red;
}
