html,body {
  height: 100%;
  width: 100%;
  position: absolute;

}

.navbar {
  height: 85px;
  padding: 10px 8px 8px 4px;
  margin: 0;
  background-color: rgb(214, 219, 214)
}

.container {
  height: inherit;
  width: 100%;
}

.brandName {
  font-family: 'Russo One', sans-serif;
  font-size: 31px;
}

.stepsIcon {
  color: darkgreen;
  padding: 3px;
  margin-top: 5px;
}

.timer {
  font-size: 35px;
  margin-left: 20%
}